button {
    border-radius: 3px;
    padding-bottom: 5px;
    text-align: left;
    margin-right: 10PX;
}

.app-btn {
    float: right;
    margin: 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.board-content {
    background-color: #faf8f8;
    padding: 10px;
    float: left;
}

.board-name {
    font-size: 20px;
    font-weight: 10px;
    color: black;
    background-color: #f8f5eb;
    padding: 4px;
    float: left;
}

.board-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-x: auto;
    background-color: #faf8f8;
}

.board-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 300px;
    padding-right: 25px;
    border-radius: 4px;
}

.column-title {
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    color: darkgreen;
    border-left: 4px solid #4CAF50;
    background-color: white;
}

.task {
    display: flex;
    padding: 10px 10px;
    background: white;
    border-bottom: solid 1px #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
    flex-direction: column;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.05);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

img {
    width: 20px;
    height: 20px;
}